<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Todo List</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>My Todo List</h1>
  <ul>
    <% ejes.forEach(function(task) { %>
      <li>
        <%= task.name %>
        <form action="/edit/<%= task._id %>?_method=PUT" method="POST" style="display:inline; " onsubmit="return validform()">
          <input type="text" name="newText" placeholder="New task text" required>
          <button type="submit">Edit</button>
        </form>
        <form action="/delete/<%= task._id %>?_method=DELETE" method="POST" style="display:inline;">
          <button type="submit">Delete</button>
        </form>
      </li>
    <% }); %>
  </ul>

  <form action="/" method="POST" onsubmit="return validform()">
    <input type="text" id="taskinput" name="ele1" placeholder="Enter a new task">
    <button type="submit">Add Task</button>
</form>

<script>
function validEdit() {
    var inputField = document.getElementById("editInput-<%= task._id %>").value;
    if (inputField.trim() === "") {
        alert("Task text cannot be empty!");
        return false;
    }
}

function validform() {
    var taskinput = document.getElementById("taskinput").value;
    if (taskinput.trim() === "") {
        alert("Enter a task!");
        return false;
    }
}
</script>
</body>
</html>
